In [ ]:
# The notebook contains the basic 4 built in datatypes excercise

In [1]:
print("Hello World!")

Hello World!

In [2]:
## Variables

In [3]:
msg = "Hello World!"
print(msg)

Hello World!

In [4]:
firstname = "Bhagyashri"
lastname = "Bhosale"
fullname = firstname + " "+ lastname
print("fullname : ", fullname)

fullname :  Bhagyashri Bhosale

## Built in data types

4 built-in data types in Python used to store collections

### 1. Lists

In [5]:
fruits = ['Apple', 'mango', 'banana','grapes']

In [6]:
print(fruits)

['Apple', 'mango', 'banana', 'grapes']

In [7]:
type(fruits)

list

In [8]:
fruits[0]  #get first item from the list

'Apple'

In [9]:
fruits[-1]  # grt last item from list

'grapes'

In [10]:
for fruit in fruits:
    print(fruit)

Apple
mango
banana
grapes

In [11]:
fruits.append('Cherry') # adding item in the list

In [12]:
fruits

['Apple', 'mango', 'banana', 'grapes', 'Cherry']

In [13]:
## NUMERICAL LIST

In [14]:
squares = []

In [15]:
squares

[]

In [16]:
for x in range(1,11):
    squares.append(x**2)

In [17]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
## list Comprehensions

In [19]:
squares = [x*2 for x in range(1,11)]

In [20]:
squares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
## List Slicing

In [22]:
a = squares[2:-2]

In [23]:
a

[6, 8, 10, 12, 14, 16]

In [24]:
## Copying list

In [25]:
b = a[:]

In [26]:
b

[6, 8, 10, 12, 14, 16]

### 2. Tuple

Tuple items are ordered, unchangeable, and allow duplicate values.
Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [27]:
tuplee = ('q','w','e','r','t','y')

In [28]:
tuplee

('q', 'w', 'e', 'r', 't', 'y')

In [29]:
type(tuplee)

tuple

In [30]:
tuplee.append('a')

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
## check in lists

In [32]:
'apple'in fruits ## case sensitive

False

In [33]:
## Boolean value

In [34]:
flag = True

In [35]:
if flag:
    print("Success")

Success

### 3. Sets

A set is a collection which is unordered, unchangeable*, and unindexed.
* Note: Set items are unchangeable, but you can remove items and add new items.

In [36]:
myset = {'aaa', 'bbb', 'ccc', 'ddd'}

In [37]:
myset

{'aaa', 'bbb', 'ccc', 'ddd'}

In [38]:
myset = {'aaa', 'bbb', 'ccc', 'ddd', 'aaa'} # duplicates not allowed

In [39]:
myset # duplicates will be ignored.

{'aaa', 'bbb', 'ccc', 'ddd'}

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [40]:
for a in myset:
    print(a)

ddd
ccc
aaa
bbb

In [41]:
#Check if "banana" is present in the set:

In [42]:
'aaa' in myset

True

In [43]:
'fff' in myset

False

In [44]:
# Adding new item to set using add()

In [45]:
myset.add('eee')

In [46]:
myset

{'aaa', 'bbb', 'ccc', 'ddd', 'eee'}

In [47]:
# Adding items from another set to myset use update()

In [48]:
set2 = {"Apple", 'Ball', 'cat', ' dog'}

In [49]:
myset.update(set2)

In [50]:
myset

{' dog', 'Apple', 'Ball', 'aaa', 'bbb', 'cat', 'ccc', 'ddd', 'eee'}

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [51]:
listt = ['asd','afsf']

In [52]:
myset.update(listt)

In [53]:
myset

{' dog',
 'Apple',
 'Ball',
 'aaa',
 'afsf',
 'asd',
 'bbb',
 'cat',
 'ccc',
 'ddd',
 'eee'}

In [54]:
# Removing item from set using remove() or discard(

In [55]:
myset.remove('afsf')

In [56]:
myset

{' dog', 'Apple', 'Ball', 'aaa', 'asd', 'bbb', 'cat', 'ccc', 'ddd', 'eee'}

In [57]:
myset.remove('qwert') # Note: If the item to remove does not exist, remove() will raise an error.

KeyError: 'qwert'

In [58]:
# remove elemnet using discard()

In [59]:
myset.discard('aaa')

In [60]:
myset

{' dog', 'Apple', 'Ball', 'asd', 'bbb', 'cat', 'ccc', 'ddd', 'eee'}

In [61]:
myset.discard('qwerty') # Note: If the item to remove does not exist, discard() will NOT raise an error.

In [62]:
# removing element using pop()
# pop()  removes last element
# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [63]:
myset.pop()

'ddd'

In [64]:
# clear() clears the set

In [65]:
myset.clear()

In [66]:
myset

set()

In [67]:
# The del keyword will delete the set completely

In [68]:
del myset

In [69]:
myset # myset does not exist anymore

NameError: name 'myset' is not defined

In [72]:
# Looping set

In [73]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

In [74]:
# joing set using union() , update()

In [75]:
myset = {'aaa', 'bbb', 'ccc'}

In [76]:
set2= {'sfsdf', 'fsfrf','aaa'}

In [77]:
myset.union(set2)

{'aaa', 'bbb', 'ccc', 'fsfrf', 'sfsdf'}

In [78]:
myset    # The union() method returns a new set with all items from both sets, therefore myset not updated

{'aaa', 'bbb', 'ccc'}

In [79]:
myset3 = myset.union(set2)
myset3

{'aaa', 'bbb', 'ccc', 'fsfrf', 'sfsdf'}

In [80]:
# The update() method inserts the items in set2 into set1:

In [81]:
myset.update(set2)
myset

{'aaa', 'bbb', 'ccc', 'fsfrf', 'sfsdf'}

Note: Both union() and update() will exclude any duplicate items.

In [82]:
# Keep ONLY the Duplicates

### The intersection_update() method will keep only the items that are present in both sets.
Keep the items that exist in both set x, and set y

In [83]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [84]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

### Return a set that contains the items that exist in both set x, and set y

In [85]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

### 4. Dictionary (key:value)

In [86]:
#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [87]:
dict1 = {'name': 'Bhagyashri',
        'age':27,
        'sex': 'F',
        'IsEmployed': True}

In [88]:
dict1

{'name': 'Bhagyashri', 'age': 27, 'sex': 'F', 'IsEmployed': True}

In [89]:
dict1 = {'name': 'Bhagyashri',
        'age':27,
        'sex': 'F',
        'name': 'Bhosale'}

In [90]:
dict1 # duplicates are not allowed, last occurance is considered

{'name': 'Bhosale', 'age': 27, 'sex': 'F'}

In [91]:
len(dict1)

3

In [92]:
# accessing dict elements

In [93]:
dict1['name']

'Bhosale'

In [94]:
dict1.get('name')

'Bhosale'

In [95]:
dict1.keys()

dict_keys(['name', 'age', 'sex'])

In [96]:
dict1['salary'] = 10000

In [97]:
dict1

{'name': 'Bhosale', 'age': 27, 'sex': 'F', 'salary': 10000}

In [98]:
dict1.values()

dict_values(['Bhosale', 27, 'F', 10000])

In [99]:
# The items() method will return each item in a dictionary, as tuples in a list.

In [100]:
dict1.items()

dict_items([('name', 'Bhosale'), ('age', 27), ('sex', 'F'), ('salary', 10000)])

In [101]:
if 'age' in dict1:
    print(True)

True

In [102]:
dict1['age'] = 25

In [103]:
dict1

{'name': 'Bhosale', 'age': 25, 'sex': 'F', 'salary': 10000}

In [104]:
dict1.update({'age':27})

In [105]:
dict1

{'name': 'Bhosale', 'age': 27, 'sex': 'F', 'salary': 10000}

In [106]:
# Removing items from dictionary

In [107]:
dict1.pop("age")

27

In [108]:
dict1

{'name': 'Bhosale', 'sex': 'F', 'salary': 10000}

In [109]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [110]:
dict1.popitem()

('salary', 10000)

In [111]:
# The del keyword removes the item with the specified key name:

In [112]:
del dict1['name']

In [113]:
dict1

{'sex': 'F'}

The del keyword can also delete the dictionary completely:

del dict1

In [114]:
dict1.clear()

In [115]:
dict1 = {'name': 'Bhagyashri',
        'age':27,
        'sex': 'F',
        'IsEmployed': True,
        'Salary': 10000}

In [116]:
for x in dict1:
    print(x) # Print all key names in the dictionary, one by one:

name
age
sex
IsEmployed
Salary

In [117]:
# Print all values in the dictionary, one by one:
for x in dict1:
    print(dict1[x])

Bhagyashri
27
F
True
10000

In [118]:
#You can also use the values() method to return values of a dictionary:
for x in dict1.values():
    print(x)

Bhagyashri
27
F
True
10000

In [119]:
#You can use the keys() method to return the keys of a dictionary:
for x in dict1.keys():
    print(x)

name
age
sex
IsEmployed
Salary

In [120]:
# Loop through both keys and values, by using the items() method:
for x,y in dict1.items():
    print(x,":",y)

name : Bhagyashri
age : 27
sex : F
IsEmployed : True
Salary : 10000

Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy()

In [121]:
dict2 = dict1 ## copies the reference, therefore, changes made in dict1 will be reflected in thd dict2 also

In [122]:
# Make a copy of a dictionary with the copy() method:
dict2 = dict1.copy()

In [123]:
# Make a copy of a dictionary with the dict() function:
dict3 = dict(dict1)

#### Nested Dictionary

In [124]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [125]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}